<h4>Menu</h4>

<h5 class="bg-dark text-light">Daten bearbeiten</h5>
<button type="button" class="btn btn-light" (click)="openImportExportDialog(actionTypes[1], 'Namen bearbeiten')">Namen bearbeiten</button>
<button type="button" class="btn btn-light" (click)="openImportExportDialog(actionTypes[2], 'Zeiten bearbeiten')">Zeiten bearbeiten</button>
<button type="button" class="btn btn-light" (click)="openImportExportDialog(actionTypes[0], 'Plandaten exportieren')">Plan bearbeiten</button>
<!-- <button type="button" class="btn btn-light" (click)="refreshNamesAfterNameImport()">Namen aktualisieren</button> -->

<h5 class="bg-dark text-light">Einstellungen</h5>
<button type="button" class="btn btn-light" (click)="this.sidenav.toggle()">Schließen</button>
