<h4>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <button type="button" class="btn btn-light btn-sm" (click)="sidenav.toggle();">
          <i class="fas fa-bars"></i>
        </button>
        Personaleinsatzplan B&B
      </div>
      <div class="col-md-7">
        <span>KW
          <select [ngModel]="selectedWeekNumber" (change)="initializePlan($event.target.value)">
            <option *ngFor="let weeknumber of weekNumbers" [value]="weeknumber">
              {{weeknumber}}
            </option>
          </select>
        </span>
        <button type="button" class="btn btn-dark btn-sm headerButtons no-print" (click)="takeScreenShot();"><i class="fas fa-table"></i> Bild herunterladen</button>
      </div>
    </div>
  </div>
</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let columnHeaderKey of getColumnKeys()" (click)="sortColumns(columnHeaderKey, sortAsc)">
        <u>{{displayedColumns[columnHeaderKey]}}</u>
      </th>
    </tr>
  </thead>
  <tr class="table-light">
    <td>
      <span></span>
    </td>
    <td *ngFor="let dayOfWeek of daysOfWeek">
      <span>{{dayOfWeek | date: 'dd.MM.yyyy' }}</span>
    </td>
  </tr>

  <tr *ngFor="let employeeRow of employeeShiftRows">
    <td *ngFor="let day of employeeKeys; index as j" [ngClass]="{'disabledColumn':  isPublicHoliday(j)}">
      <span *ngIf="j == 0">{{employeeRow.name}}</span>
      <select *ngIf="j > 0" [(ngModel)]="employeeRow[day]" (change)="storeCurrentWeek()" class="custom-select custom-select mb-3" [attr.disabled] = "isPublicHoliday(j) ? 'disabled' : null">
        <option *ngFor="let shift of shifts" [value]="shift.value">
          {{shift.value}}
        </option>
      </select>
    </td>
  </tr>

  <tr id="statisticalBottomDataRow" class="no-print">
    <td *ngFor="let day of employeeKeys; index as j">
      <div *ngIf="j > 0" class="alert alert-dark" role="alert">
        <div *ngFor="let time of getStatisticalBottomDataKeys(day)">
          {{time}}: {{statisticalBottomData[day][time]}}X
        </div>
      </div>
    </td>
  </tr>

</table>

<div id="downloadScreenshot">
  <img #canvas>
  <a #downloadLink></a>
</div>
